<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-3 form-body mb-2 bg-dark text-white">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form action="/password/reset/<%= password.id %>" method="POST">
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email address:</label>
                <input type="email" class="form-control" id="email" required placeholder="Enter email" name="email" />
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" required placeholder="Enter new password" name="password" />
            </div>
            <div class="form-group mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password" required placeholder="Confirm password" name="confirm_password" />
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn mt-3 btn-primary">Submit</button>
            </div>
        </form>
</body>
</html>