<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-3 form-body mb-2 bg-dark text-white">
        <h2 class="text-center mb-4">Verify OTP</h2>
        <form action="/password/verify/<%= password.id %>" method="POST">
            <div class="form-group mb-3">
                <label for="otp" class="form-label">OTP</label>
                <input type="number" class="form-control" id="otp" required placeholder="Enter OTP" name="otp" />
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn mt-3 btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
